{% extends "layout.html" %}

{% block content %}
    {% if form_notifications %}
        <ul class="list-group list-group-flush alert alert-success mt-2 p-1">
            {% for notification in form_notifications %}
                <li class="list-group-item list-group-item-success mx-3">{{ notification }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form_errors %}
        <ul class="list-group list-group-flush mt-2 p-1">
            {% for error in form_errors %}
                <li class="list-group-item list-group-item-danger mx-3">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="{{ url_for('index') }}" class="m-3">
        {{ form.csrf_token }}
        <h3>Sign up</h3>
        {% for field in form if field.name != 'csrf_token' %}
            <div class="form-floating mb-3 w-50">
                {{ field(class_='form-control', placeholder_='Иван') }}
                {{ field.label }}
                {% if field.errors %}
                    <ul class="list-group list-group-flush alert alert-danger mt-2 p-1">
                        {% for error in field.errors %}
                            <li class="list-group-item list-group-item-danger mx-3">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock content %}